<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title – приложение ASP.NET</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="btn-group" role="group" aria-label="...">
        <div id="DivGeneralMenu"></div>
        @*<button id="btn_GoTestManagement" class="btn btn-default">Редактирование теста</button>
        <button id="btn_GoTesting" class="btn btn-default">Пройти тестирование</button>
        <button id="btn_GoStatistic" class="btn btn-default">Статистика</button>*@
        @*@Html.ActionLink("Редактирование теста", "Index", "TestManagement", new { area = "" }, new { @class = "btn btn-default" })
          @Html.ActionLink("Тестирование", "Index", "Testing", new { area = "" }, new { @class = "btn btn-default" })
          @Html.ActionLink("Статистика", "Index", "Statistics", new { area = "" }, new { @class = "btn btn-default" })*@
      </div>
    </div>
  </div>

  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/JsCore")
  @RenderSection("scripts", required: false)
</body>

</html>